/* *************************************  */
/* ? ************* general *************  */
/* *************************************  */

:root {
   --Strong-cyan: hsl(172, 67%, 45%);

   /* ### Neutral */

   --Very-dark-cyan: hsl(183, 100%, 15%);
   --Dark-grayish-cyan: hsl(186, 14%, 43%);
   --Dark-grayish-cyan2: hsl(184, 14%, 56%);
   --Light-grayish-cyan: hsl(185, 41%, 84%);
   --Light-grayish-cyan2: hsl(189, 41%, 97%);
   --White: hsl(0, 0%, 100%);

   --Zise-inputs: 24px;
   font-family: "Space Mono", monospace;
}

*,
*::after,
*::before {
   box-sizing: border-box;
}

html,
body {
   width: 100%;
   min-width: 375px;
   height: auto;
   min-height: 800px;
   background-color: var(--Light-grayish-cyan);
}

/* *************************************  */
/* ? ************** main **************  */
/* *************************************  */

.main {
   width: 100%;
   height: 812px;
   display: flex;
   flex-direction: column;
}

.main__title {
   margin: 0;
   text-align: center;
   height: 18%;
   display: grid;
   place-content: center;
}

.main__container {
   background-color: var(--White);
   height: 82%;
   padding: 1.5rem;
   border-top-left-radius: 2rem;
   border-top-right-radius: 2rem;
   display: grid;
   grid-template-rows: 65% 35%;
}

/* *************************************  */
/* ? *********** calculator ***********  */
/* *************************************  */

.calculator {
   /* outline: 2px dotted black; */
   display: grid;
   grid-template-rows: 25% 50% 25%;
}

.calculator__title {
   font-size: 1rem;
   color: var(--Dark-grayish-cyan);
}

.input__container {
   position: relative;
}
.input__icon {
   height: 2.7rem;
   width: 2.7rem;
   position: absolute;
   border: 0;
   background-image: url(./images/icon-dollar.svg);
   background-position: center;
   background-repeat: no-repeat;
}
.calculator__input {
   width: 100%;
   height: 2.7rem;
   text-align: right;
   padding-right: 1rem;
   outline: none;
   font-weight: 700;
   color: var(--Very-dark-cyan);
   font-size: var(--Zise-inputs);
   background-color: var(--Light-grayish-cyan2);
   border-radius: 0.5rem;
   border: none;
}

.calculator__select {
   /* outline: 2px dotted red; */
   display: flex;
   flex-direction: column;
}

.calculator__container {
   height: 90%;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: repeat(3, 1fr);
   gap: 1rem;
}

.calculator__percentage {
   background-color: var(--Very-dark-cyan);
   color: var(--White);
   font-size: var(--Zise-inputs);
   border-radius: 0.3rem;
   font-weight: 700;
   border: none;
}

.calculator__percentage--active {
   background-color: var(--Strong-cyan);
   color: var(--Very-dark-cyan);
}

.calculator__custom {
   text-align: right;
   height: 100%;
   min-width: 9rem;
   outline: none;
   font-weight: 700;
   color: var(--Very-dark-cyan);
   font-size: var(--Zise-inputs);
   background-color: var(--Light-grayish-cyan2);
}
.calculator__custom::placeholder {
   color: var(--Dark-grayish-cyan);
}

.input__icon--people {
   background-image: url(./images/icon-person.svg);
}

/* *************************************  */
/* ? ************* result *************  */
/* *************************************  */

.result {
   padding: 1rem;
   padding-top: 1.5rem;
   border-radius: 1rem;
   background-color: var(--Very-dark-cyan);
   color: var(--White);
   display: grid;
   grid-template-rows: 35% 40% 25%;
}

.price {
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* outline: 2px dotted white; */
   padding-bottom: 0.5rem;
}

.price__total {
   font-weight: 700;
}

.price__detail {
   display: block;
   padding-top: 0.3rem;
   font-weight: normal;
   color: var(--Dark-grayish-cyan2);
   font-size: 0.8rem;
}

.price__value {
   color: var(--Strong-cyan);
   font-size: var(--Zise-inputs);
}

.price__value::before {
   content: "$";
}

.result__reset {
   background-color: var(--Strong-cyan);
   color: var(--Very-dark-cyan);
   text-transform: uppercase;
   font-size: 1.3rem;
   font-weight: 700;
   border: none;
   border-radius: .4rem;
}
